body {
    background-color: deepskyblue;
}

.stop-light-top {
    height: 10dvh;
    width: 3dvw;
    background-color: black;
}

.stop-light-box {
  width: 15dvw; 
  background-color: black;
  border: 2px solid black;
  border-radius: 25px; 
  padding: 10px;
}

.stop-lights {
    aspect-ratio: 1/1;
    width: 50%;
    margin: 20px 0;
    border-radius: 50%;
}

.green-light {
    background-color: green;
}

.yellow-light {
    background-color: yellow;
}

.red-light {
    background-color: red;
}

.active-green-light {
    box-shadow: 0 0 40px 20px rgb(49, 243, 178); 
}

.active-yellow-light {
    box-shadow: 0 0 40px 20px rgb(247, 247, 192); 
}

.active-red-light {
    box-shadow: 0 0 40px 20px rgb(240, 98, 98); 
}